.auctionPage {

    margin-left: 15px;
    box-shadow: 2px 3px 1px 2px rgb(236, 229, 229);
    background: black;
    position: absolute;
    display: grid;
    overflow-x: hidden; /* Set to 'hidden' to hide overflow */
    width: 100%; /* Adjusted width to prevent overflow */
    height: 83vh;
    color: black;
    /* animation: moveLeft 10s linear infinite;  */

    margin-top: -90px;
  
    grid-template-columns: 1fr 1fr 1fr  1fr;
    /* grid-template-rows: 0.5fr 0.5fr; */
  
    grid-template-areas: 
      'card card card'
      'card card card';
  }
  
.auctionPage h3{
    font-size: 0.8rem;
    font-weight: 800;
    color: rgb(206, 205, 205);
}

  .auctionPage img {
    white-space: nowrap; /* Prevent text wrapping */
    background: rgb(0, 0, 0);
    box-shadow: 2px 1px 2px 0px rgb(218, 213, 213);
    padding: 5px;
    height: 200px;
    width: 200px; /* Fixed width to prevent overflow */
    /* animation: moveLeft 10s linear infinite;  */
  }

  